.main {
  max-width: 600px;
  margin: 50px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.password-box {
  text-align: center;
  background-color: #f9c74f;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.pass-box-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img.copy-png {
  height: 30px;
  padding: 4px;
  background-color: #2a9d8f;
  border-radius: 2px;
  cursor: pointer;
}

.customization {
  margin-top: 20px;
  background-color: #f4a261;
  padding: 15px;
  border-radius: 8px;
}

.range-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.check-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #e76f51;
  padding: 15px;
  border-radius: 8px;
}

.check-boxes div {
  flex: 1 0 calc(50% - 10px);
}

.check-boxes input[type="checkbox"] {
  margin-right: 5px;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.copypass {
  background-color: #4a4e69;
}

.generate {
  background-color: #f94144;
}
